
.container {
    width: 70%;
    margin: 0 auto;
    box-shadow: -1px 15px 30px rgba(0, 0, 0, 0.6);
    padding-top: 20px;
}
.header{
    display: flex;
    flex-direction: row;
}
.header .my_name{
    width: 460px;
}
.header .circle_name{
    width: 300px;
    height: 300px;
    position: relative;
}
.header .circle_name .circle{
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    right: 50px;
    border: 2px solid black;
    margin-top: 36px;
}
.header .circle_name .circle .line{
    height: 45px;
    width: 2px;
    background-color: black;
    margin: 0 10px;
}
.header .info{
    margin-top: 20px;
    color: #393737;
}
.header h1{
    font-size: 50px;
}
.header .info p{
    margin-right: 20px;
}
.header a{
    color: #000000;
    text-decoration: none;
}
.header .info i{
    margin-right: 5px;
    color: #000000;
} 
.header P{
    display: inline;
}
.skills {
    display: flex;
    flex-direction: row;
}
.skills .content_left{
    width: 280px;
    direction: rtl;
}
.skills .content_left p{
    right: 5px;
}
.linkedin{
    color: #000000;
    text-decoration: none;
    font-size: x-large;
}
.timeline {
    position: relative;
    padding-left: 20px;
    border-left: 2px solid #000000;
    margin-top: 40px;
    width: 660px;
}
.timeline-item {
    position: relative;
    margin-bottom: 40px;
}
.timeline .circle {
    width: 11px;
    height: 11px;
    background-color: none;
    border: 1px solid #000000;
    background-color: #ffff;
    border-radius: 50%;
    position: absolute;
    left: -27px;
    top: 5px;
}
.content {
    font-weight: bold;
    font-size: 16px;
}
.skill li span{
    font-weight: bold !important;
    font-size:large;
    color: #000000;
}
.skill li{
    color: #393737;
    font-weight: lighter;
}
.projects li span{
    font-weight: bold !important;
    font-size:large;
    color: #000000;
}
.projects li{
    margin-top: 10px;
    color: #393737;
    font-weight: lighter;
}
.skills .f1{
    margin-top: 40px;
    margin-right: 10px;
    font-weight: bold;
    font-size: large;
}
.skills .s2{
    margin-top: 130px;
    margin-right: 10px;
    font-weight: bold;
    font-size: large;
}
.skills .th3{
    margin-top: 80px;
    margin-right: 10px;
    font-weight: bold;
    font-size: large;
}
.skills .F4{
    margin-top: 95px;
    margin-right: 10px;
    font-weight: bold;
    font-size: large;
}